html,
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e7c84c;
}

nav {
  margin: 10px 0;
}

nav a.active {
  color: red;
  border-bottom: solid;
}
a {
  color: #00b7ff;
}

.contenidos {
  max-width: 950px;
  margin: auto;
}

.contenidos p {
  margin: 10px 0;
}
.item-price {
  position: absolute;
  right: 10px;
}

.panel-block {
  background: #fff;
}

.card-content p {
  margin: 20px 0;
}
